@import "colors.scss";

.App {
  height: 100%;
  background-color: $background-color;
  .App-header {
    background-color: $primary-color;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .App-logo {
      height: 80px;
    }
    .title {
      font-size: 16px;
      opacity: 0.8;
      letter-spacing: 11px;
      text-transform: uppercase;
    }
  }
  .content-container {
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}