.App {
  height: 100%;
  background-color: #f4f6f8; }
  .App .App-header {
    background-color: #561A72;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .App .App-header .App-logo {
      height: 80px; }
    .App .App-header .title {
      font-size: 16px;
      opacity: 0.8;
      letter-spacing: 11px;
      text-transform: uppercase; }
  .App .content-container {
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
