@import "colors.scss";

.converter-component {
  height: 40%;
  width: 1200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .converter-top {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .converter-input-container {
      width: 123px;
      .converter-input {
        width: 123px;
        border-radius: 4px;
        font-size: 16px;
        padding: 0 13.5px;
        height: 36px;
        border: 1px solid lightgray;
        margin-right: 5px;
      }
    }
    .converter-label {
      font-size: 14px;
      text-transform: uppercase;
      color: gray;
    }
    .dropdown-list {
      width: 300px;
    }
    .converter-arrow {
      font-size: 38px;
      height: 38px;
      width: 38px;
      align-self: flex-end;
    }
    .converter-button {
      font-size: 20px;
      height: 38px;
      width: 38px;
      background-color: $primary-color;
      border: 1.5px solid $primary-color;
      padding: 0;
      color: white;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      align-self: flex-end;
      &:focus {
        outline: 0;
      }
    }
  }
  .converter-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    height: 32px;
    margin-top: 25px;

    &.error {
      background-color: rgba(indianred, 0.6);
      font-size: 16px;
      color: white;
      padding: 10px;
      border-radius: 5px;
      height: 12px;
    }
    .currency-value {
      color: $primary-color;
    }
    .currency-name {
      margin-left: 5px;
    }
  }
}
