.converter-component {
  height: 40%;
  width: 1200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }
  .converter-component .converter-top {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .converter-component .converter-top .converter-input-container {
      width: 123px; }
      .converter-component .converter-top .converter-input-container .converter-input {
        width: 123px;
        border-radius: 4px;
        font-size: 16px;
        padding: 0 13.5px;
        height: 36px;
        border: 1px solid lightgray;
        margin-right: 5px; }
    .converter-component .converter-top .converter-label {
      font-size: 14px;
      text-transform: uppercase;
      color: gray; }
    .converter-component .converter-top .dropdown-list {
      width: 300px; }
    .converter-component .converter-top .converter-arrow {
      font-size: 38px;
      height: 38px;
      width: 38px;
      align-self: flex-end; }
    .converter-component .converter-top .converter-button {
      font-size: 20px;
      height: 38px;
      width: 38px;
      background-color: #561A72;
      border: 1.5px solid #561A72;
      padding: 0;
      color: white;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      align-self: flex-end; }
      .converter-component .converter-top .converter-button:focus {
        outline: 0; }
  .converter-component .converter-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    height: 32px;
    margin-top: 25px; }
    .converter-component .converter-bottom.error {
      background-color: rgba(205, 92, 92, 0.6);
      font-size: 16px;
      color: white;
      padding: 10px;
      border-radius: 5px;
      height: 12px; }
    .converter-component .converter-bottom .currency-value {
      color: #561A72; }
    .converter-component .converter-bottom .currency-name {
      margin-left: 5px; }
