@import "App.scss";
@import "stats.scss";
@import "converter.scss";

html {
  height: 100vh;
  body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.3px;
    font-family: "Proxima Nova", sans-serif;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    #root {
      height: 100%;
    }
  }
}