.App {
  height: 100%;
  background-color: #f4f6f8; }
  .App .App-header {
    background-color: #561A72;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .App .App-header .App-logo {
      height: 80px; }
    .App .App-header .title {
      font-size: 16px;
      opacity: 0.8;
      letter-spacing: 11px;
      text-transform: uppercase; }
  .App .content-container {
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.stats {
  width: 1200px;
  height: 20%;
  display: flex;
  justify-content: space-between; }
  .stats .stats-block {
    background-color: white;
    width: calc(33% - 20px);
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    flex-direction: column; }
    .stats .stats-block .stats-block-title {
      align-self: flex-start;
      text-transform: uppercase;
      font-size: 16px;
      color: gray; }
    .stats .stats-block .stats-block-value {
      align-self: flex-end;
      font-size: 35px;
      color: #561A72; }
    .stats .stats-block:first-child {
      margin-left: 0; }
    .stats .stats-block:last-child {
      margin-right: 0; }

.converter-component {
  height: 40%;
  width: 1200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }
  .converter-component .converter-top {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .converter-component .converter-top .converter-input-container {
      width: 123px; }
      .converter-component .converter-top .converter-input-container .converter-input {
        width: 123px;
        border-radius: 4px;
        font-size: 16px;
        padding: 0 13.5px;
        height: 36px;
        border: 1px solid lightgray;
        margin-right: 5px; }
    .converter-component .converter-top .converter-label {
      font-size: 14px;
      text-transform: uppercase;
      color: gray; }
    .converter-component .converter-top .dropdown-list {
      width: 300px; }
    .converter-component .converter-top .converter-arrow {
      font-size: 38px;
      height: 38px;
      width: 38px;
      align-self: flex-end; }
    .converter-component .converter-top .converter-button {
      font-size: 20px;
      height: 38px;
      width: 38px;
      background-color: #561A72;
      border: 1.5px solid #561A72;
      padding: 0;
      color: white;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      align-self: flex-end; }
      .converter-component .converter-top .converter-button:focus {
        outline: 0; }
  .converter-component .converter-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    height: 32px;
    margin-top: 25px; }
    .converter-component .converter-bottom.error {
      background-color: rgba(205, 92, 92, 0.6);
      font-size: 16px;
      color: white;
      padding: 10px;
      border-radius: 5px;
      height: 12px; }
    .converter-component .converter-bottom .currency-value {
      color: #561A72; }
    .converter-component .converter-bottom .currency-name {
      margin-left: 5px; }

html {
  height: 100vh; }
  html body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.3px;
    font-family: "Proxima Nova", sans-serif;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    html body #root {
      height: 100%; }
