.stats {
  width: 1200px;
  height: 20%;
  display: flex;
  justify-content: space-between; }
  .stats .stats-block {
    background-color: white;
    width: calc(33% - 20px);
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    flex-direction: column; }
    .stats .stats-block .stats-block-title {
      align-self: flex-start;
      text-transform: uppercase;
      font-size: 16px;
      color: gray; }
    .stats .stats-block .stats-block-value {
      align-self: flex-end;
      font-size: 35px;
      color: #561A72; }
    .stats .stats-block:first-child {
      margin-left: 0; }
    .stats .stats-block:last-child {
      margin-right: 0; }
