@import "colors.scss";

$stat-block-adding: 10px;

.stats {
  width: 1200px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  .stats-block {
    background-color: white;
    width: calc(33% - #{$stat-block-adding * 2});
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    flex-direction: column;
    .stats-block-title {
      align-self: flex-start;
      text-transform: uppercase;
      font-size: 16px;
      color: gray;
    }
    .stats-block-value {
      align-self: flex-end;
      font-size: 35px;
      color: $primary-color;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}